@{
    ViewBag.Title = "Example";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container text-center">
    
</div>

@section Scripts{

    <script>
        @ViewBag.JavaScriptHandler
    </script>
}

